{% extends 'base.html' %}
{% block title%} Календарь {% endblock %}
{% block body %}

{% block head %}
<link href="../static/css/calendar.css" rel="stylesheet" />
{% endblock %}

<div class="calendar">
    <div class="day-of-week">
        <div>Понедельник</div>
        <div>Вторник</div>
        <div>Среда</div>
        <div>Четверг</div>
        <div>Пятница</div>
        <div>Суббота</div>
        <div>Воскресенье</div>
    </div>

    <div class="date-grid">
        {% for day in dates %}
        <div class="grid-cell">
            <div class="number">{{ day }}</div>
            <ul>
                <li><button><strike>LoR</strike></button></li>
                <li><button>Do Exercises</button></li>
                <li><button><strike>Read about Compliers</strike></button></li>
                <li><button>Don't be retarted </button></li>
                <li><button>Don't be retarted </button></li>
            </ul>
        </div>
        {% endfor %}

        
    </div>
    <div class="today">
        Сегодня {{ current_date }}
    </br>
        Дней в текущем месяце: {{ days_in_current_month }}
    </div>
        Первый день первой недели месяца: {{ first_day_of_week }}
</div>
{% endblock %}