<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../static/css/calendar_style.css">
</head>

<body>
    <div class="calendar">
        <div class="day-of-week">
            <div>Monday</div>
            <div>Tuesday</div>
            <div>Wednesday</div>
            <div>Thursday</div>
            <div>Friday</div>
            <div>Sunday</div>
            <div>Saturday</div>
        </div>

        <div class="date-grid">
            <div class="grid-cell">
                <div class="number">1</div>
                <div>
                    <div>Nothing to do</div>
                </div>
            </div>

            <div class="grid-cell">
                <div class="number">2</div>
                <ul>
                    <li><button><strike>LoR</strike></button></li>
                    <li><button><strike>Read about Compliers</strike></button></li>
                </ul>
            </div>

            <div class="grid-cell">
                <div class="number">3</div>
                <ul>
                    <li><button><strike>LoR</strike></button></li>
                    <li><button>Do Exercises</button></li>
                    <li><button><strike>Read about Compliers</strike></button></li>
                    <li><button>Don't be retarted </button></li>
                    <li><button>Don't be retarted </button></li>

                </ul>
            </div>


            <div class="grid-cell">
                <div class="number">4</div>
                <div>Nothing to do</div>
            </div>
            <div class="grid-cell">
                <div class="number">5</div>
                <div>Nothing to do</div>
            </div>
            <div class="grid-cell">
                <div class="number">6</div>
                <div>Nothing to do</div>
            </div>
            <div class="grid-cell">
                <div class="number">7</div>
                <div>Nothing to do</div>
            </div>
            <div class="grid-cell">
                <div class="number">8</div>
                <div>Nothing to do</div>
            </div>
            <div class="grid-cell">
                <div class="number">9</div>
                <div>Nothing to do</div>
            </div>
            <div class="grid-cell">
                <div class="number">10</div>
                <div>Nothing to do</div>
            </div>
            <div class="grid-cell">
                <div class="number">11</div>
                <div>Nothing to do</div>
            </div>

        </div>
    </div>
</body>