{% extends "base.html" %}
{% block title%}Задачи на сегодня{% endblock %}

{% block content %}
<h1 class="display-4 text-center my-4">Маршруты</h1>
<div class="row ">
    <div class='col-md-8 mx-auto'>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th> Название</th>
                    <th> Примерно времени</th>
                    <th> Ссылка</th>
                    <th> Время в пути</th>
                    <th> &nbsp;</th>
                </tr>
            </thead>
            <tbody>
                {% for object in objects_list%}
                <tr>
                    <td>
                        <a href='{% url "detail" pk=object.pk%}'>
                            {{object.title}}
                        </a>
                    </td>
                    <td>
                        {{object.duration}}
                    </td>
                    <td>
                        {{object.url}}
                    </td>
                    <td>
                        {{object.description}}
                    </td>

                    <td>
                        <a href='{% url "delete" pk=object.pk %}'>
                            <button type="button" class="btn btn-danger btn-sm">
                                Удалить
                            </button>
                        </a>
                    </td>
                </tr>

                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock%}