{% for task in tasks %}
<div class="tasks">
  <div class="task_counter">{{ forloop.counter }}</div>
  <ul class="list-group">
    <li class="list-group-item">
      Link: <a href="{{ task.url }}"> {{ task.url }} </a> </br>
      Title: {{ task.title }} </br> 
      Date: {{ task.created }}
      <a class="btn btn-danger" type="button" href="{% url 'goals:delete_task' task.id %}">Удалить</a>
      <a class="btn btn-secondary" type="button" href="{% url 'goals:edit_task' task.id  %}">Редактировать</a>
      <a class="btn btn-success" type="button" href="#">Выполнено</a>
    </li>
  </ul>
</div>
{% endfor %}