{% extends 'base.html' %}
{% block title %}
<title>Новая цель</title>
{% endblock %}
{% block body %}
<div class="site-wrapper" style="margin-top:75px;">
    <div class="text-center">
        <h1>Отлично, давайте поставим цель</h1>
        <div class="container">
            <form id="user_form" method="post">
                <table>
                    {% csrf_token %}
                    {% for field in project_form %}
                    {{ field }}
                    {% endfor %}
                </table>
                <button type="submit" name="submit" value="Register" class="btn btn-success">Сохранить
                </button>
            </form>
        </div>
    </div>
</div>
{% endblock %}