{% extends 'base.html' %}
{% block body %}
    <div class="site-wrapper" style="margin-top:75px;">
        <div style="margin:0px;padding: 10px;" class="col-xl-12 offset-md-1">
            <div class="Order-list">
                <div class="card">
                    <div class="card-header">
                        <h4>Цели</h4>
                    </div>
                    <div class="card-body">
                        <hr>
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover">
                                <thead>
                                <tr>
                                    <td>Название</td>
                                    <td>Дата создания</td>
                                    <td>Описание</td>
                                    <td>Прогресс</td>
                                </tr>
                                </thead>
                                <tbody>
                                {% for goal in dict_ %}
                                    <tr>
                                    <tr>
                                        <td class="lead mb-7"><a
                                                href="{% url 'goal_view' goal.id %}">{{ goal.title }}</a>
                                        </td>
                                        <td class="lead mb-7">{{ goal.created }}</td>
                                        <td class="lead mb-7">
                                            {{ goal.description|slice:"150" }}
                                                    {% if goal.description|length > 150 %}...{% endif %}
                                        </td>
                                        <td class="lead mb-7">{{ goal.progress }}</td>


                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                        {% if not dict_ %}
                            <h3 style="text-align:center;">Пока нет целей!</h3>
                        <div style="text-align: center;" class="alert alert-warning">Кажется, пора начать что-нибудь</b>
                            {% endif %}
                        </div>
                    </div>
                     <button onclick="location.href='{% url 'add_goal' %}'">Добавить цель</button>
                </div>
            </div>
            <!-- ORDER LIST END-->
        </div>
    </div>
{% endblock %}


