{% for task in tasks %}
<div class="tasks">
    <div class="task_counter">{{ forloop.counter }}</div>
    <ul class="list-group">
        <li class="list-group-item">
            Title: {{ task.title }} </br> Date: {{ task.created }}
            <a href="{% url 'goals:delete_task' task.id %}">
                <button type="button" class="btn btn-danger btn-sm">
                  Удалить
                </button>
              </a>
            
        </li>
        
    </ul>
</div>
{% endfor %}